var AtestadoMedicos = (function(){

    var height = 300,
        data={},
        totalCertificates = 0,
        totalHoursStatement = 0,
        totalLegalFaults = 0,
        totalAccompaniment = 0,
        totalTestimonial = 0,
        arrayIdDataTables = ['falta_legal','log','matricula','crm'];

    function init(){
        console.info('Init Atestado Medico ...');

        //constructTableByCID(data.atestadosCidPorCentro);

        constructGraphByPeriod(data.atestadosDataAtestado);

        setTimeout(function () {
            dataTables();
        }, 300);

    }

    function constructGraphByCostCenter(array){
        console.info('Atestado Medico construct graph ...');

        $.each(array,function(index,value){
            var id = 'container-'+index.replace(/\s/g, '-').replace(/\//g, '-'),
                title = index;

            $('.content-groups').prepend('<div id="'+id+'" class="col-md-4 chart" style="height: '+height+'px; margin: 0 auto" ></div>');


            $("#"+id).highcharts({
                chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false,
                  width: 300,
                },
                title: {
                  text: title,
                },
                tooltip: {
                  pointFormat: '<b>{point.y}</b> - ({point.percentage:.1f}%)'
                },
                plotOptions: {
                  series: {
                    enableMouseTracking: false, // otimizacao de performance
                  },
                  pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b>: {point.y} - {point.percentage:.1f}%',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      }
                    }
                  }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    type: 'pie',
                    name: title,
                    innerSize: '50%',
                    data: value,
                    dataGrouping: {
                        enabled: false
                    }
                }]
            });
        });
    }

    function constructGraphByCid(data, countLimit, rankingCids, showLimit){
      console.info('Atestado Medico construct graph by cid ...');

      var dataAux = [],
          seriesShow = []
          countLimit = countLimit ? countLimit : 0,
          showLimit = showLimit ? showLimit : 20,
          rankingLimit = rankingCids.length;

      if(rankingLimit  < showLimit ){
        showLimit = rankingLimit;
      }


      var i = 0;
      while (seriesShow.length < showLimit) {
        seriesShow.push(rankingCids[i]);
        i++;
      }

      for (var key in data){
        if(data[key][1] >= countLimit){
          for (var j = 0; j < seriesShow.length; j++) {
            if(seriesShow[j][0] === data[key][0]){
              dataAux.push([data[key][0], data[key][1]]);
            }
          }
        }
      }

      //console.log('dataAux', dataAux);

      $("#container-cid").highcharts({
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
          },
          title: {
            text: 'As '+showLimit+' CIDs',
          },
          tooltip: {
            pointFormat: '<b>{point.y}</b> - ({point.percentage:.1f}%)'
          },
          plotOptions: {
            series: {
              enableMouseTracking: false, // otimizacao de performance
            },
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.y} - {point.percentage:.1f}%',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
              }
            }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              type: 'pie',
              innerSize: '50%',
              data: dataAux
          }]
      });

    //  console.log('dataAux2', dataAux);
      constructLegendCids(rankingCids);
    }

    function constructLegendCids(rankingCids){
      console.info('Atestado Medico construct graph by period...');

        var $highchartPies = $('.highcharts-series-0 path[fill!="none"]'),
            cids = Cids.get();

        html = '<h4>Legenda <small>fonte: www.bulas.med.br/cid-10/index.asp</small></h4><ul class="legend">';

        $highchartPies.each(function(index){
          var color = $(this).attr('fill'),
              name = rankingCids[index][0],
              legend = cids[rankingCids[index][0]];


          html += '<li><span class="square-legend" style="background-color:'+color+'"></span>'+name+' - '+legend+'</li>'
        });

        html += '</ul>'

        $('#container-legend-cid').prepend(html);

    }

    function constructGraphByPeriod(data){
      console.info('Atestado Medico construct graph by period...');

        var arrayCertificates = [], arrayHoursStatement = [], arrayLegalFaults = [], arrayAccompaniment = [], arrayTestimonial = [];

        for (var key in data){
          // console.log(key + " -> " + data[key]);

          var data_entrega = key.split("-");
          data_entrega = Date.UTC(data_entrega[0],  (data_entrega[1]-1), data_entrega[2]);

          arrayCertificates.push( [data_entrega, data[key]['atestado']] );
          arrayHoursStatement.push( [data_entrega, data[key]['declaracao_de_horas']] );
          arrayLegalFaults.push( [data_entrega, data[key]['falta_legal']] );
          arrayAccompaniment.push( [data_entrega, data[key]['acompanhamento']] );
          arrayTestimonial.push( [data_entrega, data[key]['certidao']] );
        }

         $('#container-period').highcharts({
            chart: {
             type: 'spline'
            },
            title: {
                text: 'Frequência diária'
            },
            subtitle: {
                text: 'Baseado na data do atestado'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    day: '%e / %b',
                },
                title: {
                    text: 'Período'
                }
            },
            yAxis: {
                title: {
                    text: 'Quantidade'
                },
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            plotOptions: {
              // series: {
              //   enableMouseTracking: false, // otimizacao de performance
              // },
              spline: {
                dataLabels: {
                  enabled: true
                },
                marker: {
                  enabled: false // otimizacao de performance
                },
                // enableMouseTracking: false
              },
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                name: 'Atestados',
                data: arrayCertificates,
                dataGrouping: {
                    enabled: false
                }
            },{
                name: 'Declaraçoes de hora',
                data: arrayHoursStatement,
                dataGrouping: {
                    enabled: false
                }
            },{
                name: 'Faltas legais',
                data: arrayLegalFaults,
                dataGrouping: {
                    enabled: false
                }
            },{
                name: 'Acompanhamentos',
                data: arrayAccompaniment,
                dataGrouping: {
                    enabled: false
                }
            },{
                name: 'Certidao',
                data: arrayTestimonial,
                dataGrouping: {
                    enabled: false
                }
            }]
        });
    }

    function constructGraphByPeriodByCid(data, countLimit, rankingCids, showLimit){
      console.info('Atestado Medico construct graph by period by cid...');

        var series = [],
            seriesClear = [],
            seriesShow = [],
            countLimit = countLimit ? countLimit : 0,
            showLimit = showLimit ? showLimit : 20;

        if( rankingCids.length < showLimit ){
          showLimit = rankingCids.length;
        }

        for (var key in data){
            series.push({name: key, data: [] });

            var index = series.length - 1;

            for (var keyAux in data[key]){

            if (data[key][keyAux] >= countLimit) {
              var data_atestado = keyAux.split("-"),
                  ultimoSeries = series.length - 1;

              data_atestado = Date.UTC(data_atestado[0],  (data_atestado[1]-1), data_atestado[2]);
              series[index].data.push( [data_atestado, data[key][keyAux]] );
              }

            }
        }

        var i = 0;

        while (seriesShow.length < showLimit) {
          seriesShow.push(rankingCids[i]);
          i++;
        }

        for (var i = 0; i < series.length; i++) {
          if(series[i].data.length > 0){
            for (var j = 0; j < seriesShow.length; j++) {
              if(seriesShow[j][0] === series[i].name){
                seriesClear.push(series[i]);
              }
            }
          }
        }

        $('#container-period-cid').highcharts('StockChart',{
          chart: {
            type: 'spline'
          },
           title: {
               text: 'As '+showLimit+' CIDs com maior prevalência'
           },
           subtitle: {
               text: 'Dias com atestados acima de '+countLimit+', baseado na data do atestado'
           },
           xAxis: {
               type: 'datetime',
               dateTimeLabelFormats: { // don't display the dummy year
                   day: '%e / %b',
               },
               title: {
                   text: 'Período'
               }
           },
           yAxis: {
               title: {
                   text: 'Quantidade'
               },
           },
           legend: {
               layout: 'vertical',
               align: 'right',
               verticalAlign: 'middle',
               borderWidth: 0
           },
           plotOptions: {
             // series: {
             //   enableMouseTracking: false, // otimizacao de performance
             // },
             spline: {
               dataLabels: {
                 enabled: true
               },
               marker: {
                 enabled: false // otimizacao de performance
               },
               // enableMouseTracking: false
             },
           },
           series: seriesClear
       });
    }

    function constructTableByCID(array){
      console.info('Atestado Medico construct table by cid...');
      var html = '<div class="panel panel-default"> <div class="panel-heading">CID</div> <div class="panel-body"><div class="row">';

      $.each(array,function(index,value){
        var id = index.trim().toLowerCase().replace(/[\.,-\/#!$%\^&\*;:{}=\-_`~()]/g,"").split(' ').join('-');

        arrayIdDataTables.push(id);

        html += '<div class="col-md-4  table-dashboard"> <h5>'+index+'</h5><table id="'+id+'" class="table-cids table table-striped table-bordered" ><thead><tr><th>CID</th><th>Atestados</th><th>Dias</th></tr></thead><tbody>';
        value.forEach(function(e,i,ar){
          html += '<tr><td>'+e[0]+'</td><td>'+e[1]+'</td><td>'+e[2]+'</td></tr>';
        });
        html += '</tbody></table> </div>';
      });

      html += '</div></div></div>';

      $('#container-cid').prepend(html);
    }

    function constructDataTableByCID(){
      $('#matricula-cid').dataTable({
          scrollY: "400px",
          scrollCollapse: true,
          paging:   false,
          dom: 'T<"clear">lfrtip',
          deferRender: true,
          search: {
            caseInsensitive: false
          },
          tableTools: {
            sSwfPath: "/datatables-tabletools-swf/copy_csv_xls_pdf.swf",
            aButtons: [{
                sExtends: "copy",
                sButtonText: "Copiar"
            },{
                sExtends: "xls",
                sButtonText: "Exportar"
            }],
          },
          language: {
            sEmptyTable: "Nenhum registro encontrado",
            sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
            sInfoFiltered: "(Filtrados de _MAX_ registros)",
            sInfoPostFix: "",
            sInfoThousands: ".",
            sLengthMenu: "_MENU_ resultados",
            sLoadingRecords: "Carregando...",
            sProcessing: "Processando...",
            sZeroRecords: "Nenhum registro encontrado",
            sSearch: "Buscar",
            oPaginate: {
              sNext: "Próximo",
              sPrevious: "Anterior",
              sFirst: "Primeiro",
              sLast: "Último"
            },
            oAria: {
              sSortAscending: ": Ordenar colunas de forma ascendente",
              sSortDescending: ": Ordenar colunas de forma descendente"
            }
          }
        });
    }

    function dataTables(){
        console.info('Atestado Medico data table2 ...');

        arrayIdDataTables.forEach(function(value){
          $('#'+value).dataTable({
              scrollY: "400px",
              scrollCollapse: true,
              paging:   false,
              dom: 'T<"clear">lfrtip',
              deferRender: true,
              tableTools: {
                sSwfPath: "/datatables-tabletools-swf/copy_csv_xls_pdf.swf",
                aButtons: [{
                    sExtends: "copy",
                    sButtonText: "Copiar"
                },{
                    sExtends: "xls",
                    sButtonText: "Exportar"
                }],
              },
              language: {
                sEmptyTable: "Nenhum registro encontrado",
                sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
                sInfoFiltered: "(Filtrados de _MAX_ registros)",
                sInfoPostFix: "",
                sInfoThousands: ".",
                sLengthMenu: "_MENU_ resultados",
                sLoadingRecords: "Carregando...",
                sProcessing: "Processando...",
                sZeroRecords: "Nenhum registro encontrado",
                sSearch: "Buscar",
                oPaginate: {
                  sNext: "Próximo",
                  sPrevious: "Anterior",
                  sFirst: "Primeiro",
                  sLast: "Último"
                },
                oAria: {
                  sSortAscending: ": Ordenar colunas de forma ascendente",
                  sSortDescending: ": Ordenar colunas de forma descendente"
                }
              }
            });
        });
    }

    function constructGraphAbsMonthly(data){
        $('#container-abs-monthly').highcharts({
          chart: {
              type: 'column',
              height: '600'
          },
          title: {
              text: 'ABS Mensal'
          },
          xAxis: {
              categories: data.x_axis,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Quantidade',
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              },
              stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
              }
          },
          plotOptions: {
              column: {
                  stacking: 'normal',
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          credits: {
              enabled: false
          },
          series: data.series
      });
    }

    function constructGraphAbsMonthlyArea(data){
        $('#container-abs-monthly-area').highcharts({
          chart: {
              type: 'column',
              height: '1000'
          },
          title: {
              text: 'ABS Mensal Área'
          },
          xAxis: {
              categories: data.x_axis,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Quantidade',
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              },
              stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
              }
          },
          plotOptions: {
              column: {
                  stacking: 'normal',
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          credits: {
              enabled: false
          },
          series: data.series
      });
    }

    function constructGraphAbsMonthlyTotalDays(data){
        $('#container-abs-monthly-total').highcharts({
          chart: {
              type: 'column',
              height: '400'
          },
          title: {
              text: 'ABS Dias totais'
          },
          xAxis: {
              categories: data.x_axis,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Quantidade',
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              },
              stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
              }
          },
          plotOptions: {
              column: {
                  stacking: 'normal',
              }
          },
          credits: {
              enabled: false
          },
          series: data.series
      });
    }

    function constructGraphAbsMonthlyTotalPercentage(data){

      var series = [];

      for (var i = 0; i < data.series[0].data.length; i++) {

        console.log(data.x_axis[i], data.series[0].data[i]);
        series.push({name: data.x_axis[i], y: data.series[0].data[i] });
      }

      $('#container-abs-monthly-total-percentage').highcharts({
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
          },
          title: {
            text: 'ABS Porcentagem por mês dos totais de dias',
          },
          tooltip: {
            pointFormat: '<b>{point.y}</b> - ({point.percentage:.1f}%)'
          },
          plotOptions: {
            series: {
              enableMouseTracking: false, // otimizacao de performance
            },
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.y} - {point.percentage:.1f}%',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
              }
            }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              type: 'pie',
              name: 'ABS Porcentagem por mês dos totais de dias',
              innerSize: '50%',
              data: series,
              dataGrouping: {
                  enabled: false
              }
          }]
      });
      //
      //   $('#container-abs-monthly-total-percentage').highcharts({
      //     chart: {
      //         type: 'column',
      //         height: '400'
      //     },
      //     title: {
      //         text: 'ABS Porcentagem por mês dos totais de dias'
      //     },
      //     xAxis: {
      //         categories: data.x_axis,
      //         title: {
      //             text: null
      //         }
      //     },
      //     yAxis: {
      //         min: 0,
      //         title: {
      //             text: 'Quantidade',
      //             align: 'high'
      //         },
      //         labels: {
      //             overflow: 'justify'
      //         },
      //         stackLabels: {
      //           enabled: true,
      //           style: {
      //               fontWeight: 'bold',
      //               color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
      //           }
      //         }
      //     },
      //     plotOptions: {
      //         column: {
      //             stacking: 'normal',
      //         }
      //     },
      //     credits: {
      //         enabled: false
      //     },
      //     series: data.series
      // });
    }

    function feed(feed){
      data = feed;
    }

    function treatDate(array){
        $.each(array,function(index,value){
            date_array = value["date"].split("-");
            value["date"] = Date.UTC(date_array[0],  (date_array[1]-1), date_array[2]);
        });
        return array;
    }

    return{
        init:init,
        feed:feed,
        constructDataTableByCID:constructDataTableByCID,
        constructGraphByCostCenter:constructGraphByCostCenter,
        constructGraphByPeriodByCid:constructGraphByPeriodByCid,
        constructGraphByCid:constructGraphByCid,
        constructGraphAbsMonthly:constructGraphAbsMonthly,
        constructGraphAbsMonthlyArea:constructGraphAbsMonthlyArea,
        constructGraphAbsMonthlyTotalDays:constructGraphAbsMonthlyTotalDays,
        constructGraphAbsMonthlyTotalPercentage:constructGraphAbsMonthlyTotalPercentage
    }

})();
