var Billet = (function(){

	var data={};

    function init(){
        console.info('Init Billet ...');

        constructTable(data['array_audit']);
        dataTables();
        insertStatistics();
        constructGraph();
    }

    function constructTable(array){
        console.info('Billet construct table ...');

    	var html = '<table id="billet" style="width:100%"><thead><tr><th>Boleto PDF</th><th>Valor PDF</th><th>Valor Excel</th><th>Boleto Excel</th><th>Mensagem</th></tr></thead><tbody>',
    		classArrow = '';
    	array.forEach(function(element, index, array){

    		var pdf_value = parseFloat(element.pdf_value),
    		    excel_value = parseFloat(element.excel_value),
    		    classRow = element.type+' '+element.code,
    		    classIcon = "icon-circle-checkmark";

    		if(element.code == "different_value"){
    			if(pdf_value > excel_value){
    				classArrow = 'icon-circle-down';
    			}else if(pdf_value < excel_value){
    				classArrow = 'icon-circle-up';
    			}
    		}


    		if(element.type == "error"){
    		      classIcon = "icon-circle-cross";
    		      if(element.code == "not_found"){
    		          classIcon = "icon-circle-exclamation";
    		      }
    		  html = html+'<tr class="'+classRow+'">';
              html = html+'<td><i class="'+classIcon+'"/><p>'+element.pdf_billet+' </p></td><td>'+element.pdf_value+'</td><td><i class="'+classArrow+'"/>'+(element.excel_value ? element.excel_value : '')+'</td><td>'+(element.excel_billet ? element.excel_billet : '')+'</td><td>'+element.message+'</td>';
              html = html+'</tr>';
              classArrow = '';
    		}else{
    		  html = html+'<tr class="'+classRow+'">';
              html = html+'<td><i class="'+classIcon+'"/><p>'+element.pdf_billet+' </p></td><td>'+element.pdf_value+'</td><td>'+(element.excel_value ? element.excel_value : '')+'</td><td>'+(element.excel_billet ? element.excel_billet : '')+'</td><td>'+element.message+'</td>';
              html = html+'</tr>';
    		}

    	});

    	html = html+'</tbody></table>';

    	$('#container').append(html);
    }

    function dataTables(){
        console.info('Billet data table ...');

        $('#billet').dataTable( {
            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "/datatables-tabletools-swf/copy_csv_xls_pdf.swf"
            },
            "language":{
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
        });
    }

    function constructGraph(){
        console.info('Billet feed ...');

             $('.chart__container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1,//null,
                    plotShadow: false,
                    height:200
                },
                title: {
                    text: 'Total de boletos por centro de custo'
                },
                tooltip: {
                    pointFormat: '<b>{point.y}</b> - ({point.percentage:.1f}%)'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: data['array_chart']
                }]
            });
    }

    function set(feed){
        console.info('Billet feed ...');
        data = feed;
    }

    function insertStatistics(){
        console.info('Billet insert statistics ...');

        $('.statistics__number.qty-billet-pdf').html(data['array_values']['qty_billet_pdf']);
        $('.statistics__number.total-billet-pdf').html(data['array_values']['total_billet_pdf'].toFixed(2));
        $('.statistics__number.total-difference').html(data['array_values']['total_difference'].toFixed(2));
    }

    return{
    	init:init,
    	set:set
    }


})();
