var LegalFaultsOld = (function(){

    var height = 300,
        data={},
        totalCertificates = 0,
        totalHoursStatement = 0,
        totalLegalFaults = 0,
        totalAccompaniment = 0,
        totalTestimonial = 0,
        arrayIdDataTables = [];

    function init(){
        console.info('Init Legal Faults ...');

        constructTableByEnrollment(data['array_enrollment']);
        constructTableByCRM(data['array_crm']);
        constructTableByCID(data['array_chart']);
        constructTableByLegalFaults(data['array_legal_faults']);

        constructGraphByCostCenter(data['array_chart']);
        constructGraphByPeriod(data['array_period']);
        constructDashboard(data);

        setTimeout(function () { dataTables(); }, 300);
    }

    function constructGraphByCostCenter(array){
        console.info('Legal Faults construct graph ...');

        $.each(array,function(index,value){
            var id = 'container-'+index.replace(/\s/g, '-').replace(/\//g, '-'),
                title = index;

            $('.content-groups').prepend('<div id="'+id+'" class="col-md-4  chart" style="height: '+height+'px; margin: 0 auto" ></div>');


            $("#"+id).highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    enableMouseTracking: false

                },
                title: {
                    text: title,
                },
                tooltip: {
                    pointFormat: '<b>{point.y}</b> - ({point.percentage:.1f}%)'
                },
                plotOptions: {
                     pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y} - {point.percentage:.1f}%',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    type: 'pie',
                    name: title,
                    innerSize: '50%',
                    data: value
                }]
            });
        });


    }

    function constructGraphByPeriod(array){
      console.info('Legal Faults construct graph by period...');

        var arrayCertificates = [], arrayHoursStatement = [], arrayLegalFaults = [], arrayAccompaniment = [], arrayTestimonial = [];

        array.forEach(function(element,index,array){
            arrayCertificates.push([element["date"],element["certificates"]]);
            arrayHoursStatement.push([element["date"],element["hours_statement"]]);
            arrayLegalFaults.push([element["date"],element["legal_faults"]]);
            arrayAccompaniment.push([element["date"],element["accompaniment"]]);
            arrayTestimonial.push([element["date"],element["testimonial"]]);

            totalCertificates += element["certificates"];
            totalHoursStatement += element["hours_statement"];
            totalLegalFaults += element["legal_faults"];
            totalAccompaniment += element["accompaniment"];
            totalTestimonial += element["testimonial"];
        });

         $('#container-period').highcharts({
            title: {
                text: 'Frequência diária'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    day: '%e / %b',
                },
                title: {
                    text: 'Período'
                }
            },
            yAxis: {
                title: {
                    text: 'Quantidade'
                },
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            plotOptions: {
              line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
              },
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                name: 'Atestados',
                data: arrayCertificates
            },{
                name: 'Declaraçoes de hora',
                data: arrayHoursStatement
            },{
                name: 'Faltas legais',
                data: arrayLegalFaults
            },{
                name: 'Acompanhamentos',
                data: arrayAccompaniment
            },{
                name: 'Certidao',
                data: arrayTestimonial
            }]
        });
    }

    function constructTableByEnrollment(array){
      console.info('Legal Faults construct table by enrollment...');
      var id = "enrollment",
             html = "<h2>Matrícula</h2><table id='"+id+"' class='table table-striped'><thead><tr><th>Matrícula</th><th>Atestados</th><th>Dias</th><th>Declaraçoes</th><th>Faltas legais</th><th>Acomp.</th><th>Centro de custo</th></tr></thead><tbody>";

      arrayIdDataTables.push(id);

      array.forEach(function(element, index, array){
        html += "<tr><td>"+element["enrollment"]+"</td><td>"+element["certificates"]+"</td><td>"+element["days"]+"</td><td>"+element["hours_statement"]+"</td><td>"+element["legal_faults"]+"</td><td>"+element["accompaniment"]+"</td><td>"+element["cost_center"]+"</td></tr>";
      });

      html += "</tbody></table>";

      $('#container-enrollment').prepend(html);
    }

    function constructTableByCRM(array){
      console.info('Legal Faults construct table by crm...');
      var id = "crm",
            html = "<h2>CRM</h2><table id='"+id+"' class='table table-striped' ><thead><tr><th>CRM</th><th>Atestados</th><th>Dias</th><th>Declaraçoes</th><th>Faltas legais</th><th>Acomp.</th></tr></thead><tbody>";

            arrayIdDataTables.push(id);

      array.forEach(function(element, index, array){
        html += "<tr><td>"+element["crm"]+"</td><td>"+element["certificates"]+"</td><td>"+element["days"]+"</td><td>"+element["hours_statement"]+"</td><td>"+element["legal_faults"]+"</td><td>"+element["accompaniment"]+"</td></tr>";
      });

      html += "</tbody></table>";

      $('#container-crm').prepend(html);
    }

    function constructTableByCID(array){
      console.info('Legal Faults construct table by cid...');
      var html = "<h2>CID</h2>";

      $.each(array,function(index,value){
        var id = index.trim().toLowerCase().replace(/[\.,-\/#!$%\^&\*;:{}=\-_`~()]/g,"").split(' ').join('-');

        arrayIdDataTables.push(id);

        html += "<div class='col-md-4  table-dashboard'> <h3>"+index+"</h3><table id='"+id+"' class='table-cids table table-striped' ><thead><tr><th>CID</th><th>Atestados</th><th>Dias</th></tr></thead><tbody>";
        value.forEach(function(e,i,ar){
          html += "<tr><td>"+e[0]+"</td><td>"+e[1]+"</td><td>"+e[2]+"</td></tr>";
        });
        html += "</tbody></table> </div>";
      });

      $('#container-cid').prepend(html);
    }

    function constructTableByLegalFaults(array){
      console.info('Legal Faults construct table by legal faults...');
      var id = "legal-faults",
             html = "<h2>Faltas legais</h2><table id='"+id+"' class='table table-striped' ><thead><tr><th>Matrícula</th><th>Descrição</th><th>Dias</th></tr></thead><tbody>";

      arrayIdDataTables.push(id);
      array.forEach(function(element, index, array){
        html += "<tr><td>"+element["enrollment"]+"</td><td>"+element["description"]+"</td><td>"+element["qty_days"]+"</td></tr>";
      });

      html += "</tbody></table>";

      $('#container-legal-faults').prepend(html);
    }

    function constructDashboard(array){
      console.info('Legal Faults construct dashboard ...');

      var infos = [{"total": totalCertificates + totalHoursStatement + totalLegalFaults + totalAccompaniment + totalTestimonial + array["duplicate_records"], "description": "Registros"},
                   {"total": array["duplicate_records"], "description": "Registros duplicados"},
                   {"total": totalCertificates, "description": "Atestados"},
                   {"total": totalHoursStatement, "description": "Declaraçoes"},
                   {"total": totalLegalFaults, "description": "Faltas legais"},
                   {"total": totalAccompaniment, "description": "Acompanhamentos"},
                   {"total": totalTestimonial, "description": "Certidoes"},
                   {"total": array["array_enrollment"].length, "description": "Pessoas"},
                   {"total": 0, "description": "Total de dias dos atestados", "months": 0, "years": 0, "workers": 0}
                  ],
          html = "";

      array['array_enrollment'].forEach(function(element, index, array){
        // Somando total de dias
        infos[8]["total"] += element["days"];
      });

      // Considerando o mês 26 dias trabalhados
      infos[8]["months"] = infos[8]["total"] / 26;
      infos[8]["years"] = infos[8]["months"] / 12;

      // Considerando 6:20h = 380min / 24h = 1440min
      infos[8]["workers"] = infos[8]["total"] * 1440 / 380 ;


      infos.forEach(function(element,index,array){
        if(element["months"] && element["years"]){
          html += "<div class='item-dashboard col-md-2 '><p class='item-dashboard__number'>"+element["total"]+"</br><small>"+element["description"]+" (Aprox. "+element["workers"].toFixed()+" repres. - "+element["months"].toFixed()+" meses - "+element["years"].toFixed()+" anos)</small></p></div>";
        }else{
          html += "<div class='item-dashboard col-md-2 '><p class='item-dashboard__number'>"+element["total"]+"</br><small>"+element["description"]+"</small></p></div>";
        }

      });

      $("#container-dashboard").prepend(html);
    }

    function dataTables(){
        console.info('Legal Faults data table ...');

        arrayIdDataTables.forEach(function(value){
          $('#'+value).dataTable({
              scrollY: "400px",
              scrollCollapse: true,
              paging:   false,
              dom: 'T<"clear">lfrtip',
              tableTools: {
                sSwfPath: "/datatables-tabletools-swf/copy_csv_xls_pdf.swf",
                aButtons: [{
                    sExtends: "copy",
                    sButtonText: "Copiar"
                },{
                    sExtends: "xls",
                    sButtonText: "Exportar"
                }],
              },
              language: {
                sEmptyTable: "Nenhum registro encontrado",
                sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
                sInfoFiltered: "(Filtrados de _MAX_ registros)",
                sInfoPostFix: "",
                sInfoThousands: ".",
                sLengthMenu: "_MENU_ resultados",
                sLoadingRecords: "Carregando...",
                sProcessing: "Processando...",
                sZeroRecords: "Nenhum registro encontrado",
                sSearch: "Buscar",
                oPaginate: {
                  sNext: "Próximo",
                  sPrevious: "Anterior",
                  sFirst: "Primeiro",
                  sLast: "Último"
                },
                oAria: {
                  sSortAscending: ": Ordenar colunas de forma ascendente",
                  sSortDescending: ": Ordenar colunas de forma descendente"
                }
              }
            });
        });
    }

    function feed(feed){
        console.info('Legal Faults feed ...');
        data = feed;
        if(data['array_period']){
            data['array_period'] = treatDate(data['array_period']);
        }
    }

    function treatDate(array){
        $.each(array,function(index,value){
            date_array = value["date"].split("-");
            value["date"] = Date.UTC(date_array[0],  (date_array[1]-1), date_array[2]);
        });
        return array;
    }

    return{
        init:init,
        feed:feed
    }

})();
