<div class="col-md-12 ">
<%= form_tag(path, action: 'upload', multipart: true) do %>
	<%= field_set_tag 'Informações dos boletos' do %>
		<div class="col-md-4 ">
			<label>Relatório Teletáxi <small>arquivo no formato PDF</small> </label>
			<%= file_field_tag :file_pdf, value: @file_pdf, accept: 'application/pdf', required: true %>
			<% if @file_pdf %>
				<p><%= @file_pdf.original_filename %></p>
			<% end %>
		</div>
		<div class="col-md-4 ">
			<label>Planilha de boletos <small>arquivo no formato Excel (xls/xlsx)</small> </label>
			<%= file_field_tag :file_excel, value: @file_excel, accept: 'application/vnd.ms-excel, application/msexcel, application/x-msexcel, application/x-ms-excel, application/vnd.ms-excel, application/x-excel, application/x-dos_ms_excel, application/xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %>
			<% if @file_excel %>
				<p><%= @file_excel.original_filename %></p>
			<% end %>
		</div>
		<div class="col-md-4 ">
<!--			<label for="">Número da nota fiscal</label>-->
		</div>

		<div class="col-md-2 ">
		  <%= submit_tag 'Enviar', class: "btn radius expand" %>
		</div>
	<% end %>
<% end %>
</div>
