<%= render partial: 'form', locals: { path: servico_boleto_path } %>
<div class="col-md-12 ">
	<div class="col-md-12  statistics">
	    <div class="col-md-2  statistics__container">
	        <div class="statistics__circle">
	           <p class="statistics__number qty-billet-pdf">00</p>
	            <p class="statistics__title">Quantidade</p>
	        </div>

	    </div>
	    <div class="col-md-2  statistics__container">
            <div class="statistics__circle">
                <p class="statistics__real">R$</p>
                <p class="statistics__number total-billet-pdf">00</p>
                <p class="statistics__title">Valor total</p>
            </div>
        </div>
        <div class="col-md-2  statistics__container">
            <div class="statistics__circle">
                <p class="statistics__real">R$</p>
                <p class="statistics__number total-difference">00</p>
                <p class="statistics__title">Valor da diferença</p>
            </div>
        </div>
        <div class="col-md-6 ">
          <div class="chart__container">

          </div>
        </div>
	</div>
	<div id="container" class="col-md-12 ">
	</div>
</div>

<script>

var result = {
	'billet': <%= raw @billet.to_json %>
}


console.log(result);
if(result['billet']){
	Billet.set(result['billet']);
	Billet.init();
}
</script>
<%- title "Análise" %>
