<h1>Você quer resolver?</h1>
<div class="small-12 columns">
	<ul class="small-block-grid-6 menu-grid">
	  <li>
	  	<%= link_to servico_boleto_path do %>
            <div class="content">
                <p>Boleto Teletáxi</p>
            </div>
        <% end %>
	  </li>
	</ul>
</div>
