$color-background: #eceff1;
$color-font: #788b94;
$color-font-spotlight: #c3d7ef;
$color-input: #1d242e;

$color-alert: #FF8B8F;
$color-warning: #E7D21E;
$color-success: #87DA1F;

$color-gray: #2a3340 ;
$color-black: #111;

$color-blue-lighten: #14bfff;

$global-radius: 10px;
$global-gutter: 20px;

$font-family: 'Lato', Arial, sans-serif;
