
body{
	background:$color-background;
}

body,h1,h2,h3,h4,h5,p, a,label, input, legend,button,.button,.top-bar-section ul li > a,.tabs dd > a, .tabs .tab-title > a{
	//color: $color-font;
	font-family: $font-family;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	// background: $color-input;
	// border:none;
	// color: $color-font;
	font-family: $font-family;
	box-shadow:none;
}
input[type="file"]::-webkit-file-upload-button{
   border-radius: $global-radius/2;
   color: #000;
   font-family: $font-family;
   border:none;
   padding-top: 1rem;
   padding-right: 2rem;
   padding-bottom: 1.0625rem;
   padding-left: 2rem;
   font-size: 1rem;
}

table{
	font-family: $font-family;
	border:none;
}

table{
	tr.not_found{
		.icon-circle-exclamation{
			color: $color-warning;
		}
	}

	tr{
		.icon-circle-cross,.icon-circle-up{
			color: $color-alert;
		}
		.icon-circle-checkmark,.icon-circle-down{
			color:$color-success;
		}
		.icon-circle-checkmark, .icon-circle-exclamation, .icon-circle-cross{
			float: left;
		}
		.message-error{
			font-weight: normal;
			color: $color-font;
			font-size: 12px;
		}
		p{
			margin-bottom:0;
			line-height: 1;
			color:$color-font-spotlight;
			font-weight: bold;
		}

		&:hover .icon-circle-exclamation{
		    @include animation-play-state(running);
		}
	}
}

[class^="icon-"], [class*=" icon-"] {
	margin-right:10px;
}
