#container-period{
	margin-bottom:$global-gutter;
}

.filter,.info{
	p{
		font-size: 0.8em;
	}
}
 .during, .final, .mean-general{
	.value{
		float: left;
		p{
			font-size:1em;
			font-weight:bold;
		}
	}
}

.picker__button--today, .picker__button--clear, .picker__button--close{
	color:#000;
}
.chart{
	border-radius: $global-radius;
}
.button,button{
	border-radius: $global-radius;
	background: #003D6E;
	color: $color-font-spotlight;
}

.tab-content{
	background:#fff;
	display:inline-block;
	padding: $global-gutter;
	border: 1px solid #ddd;
	border-top: none;
}

div.DTTT_container{
	width: 100%;
}

div.dataTables_wrapper div.dataTables_filter input{
	width: 70%;
}

.navbar-default, .card{
	background: #fff;
	border-color: #fff;
	box-shadow: 0px 2px 3px #ccc;
	border-radius: 4px;
}

.dataTables_length, .dataTables_filter{
	width: 50%;
	display: inline-block;
}

.DTTT{
	width: 50%;
	display: inline-block;
}

.DTTT + .clear {
	float: left;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #fff;
    border-color: #ddd;
		padding: $global-gutter;
		h3{
			text-transform: uppercase;
		}
	}
.legend{
	list-style: none;
	font-size: 12px;
	padding: 0;
}
.square-legend{
	width:10px;
	height:10px;
	background-color:#fff;
	display:inline-block;
	margin-right: 10px;
}
