@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?hfi2hb');
	src:url('/fonts/icomoon.eot?#iefixhfi2hb') format('embedded-opentype'),
		url('/fonts/icomoon.woff?hfi2hb') format('woff'),
		url('/fonts/icomoon.ttf?hfi2hb') format('truetype'),
		url('/fonts/icomoon.svg?hfi2hb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon"], [class*=" icon"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
	content: "\e763";
}
.icon-arrow-down:before {
	content: "\e764";
}
.icon-circle-exclamation:before {
	content: "\e76e";
}
.icon-circle-checkmark:before {
	content: "\e770";
}
.icon-circle-cross:before {
	content: "\e771";
}
.icon-circle-up:before {
	content: "\e774";
}
.icon-circle-down:before {
	content: "\e775";
}
.icon-close:before {
	content: "\e603";
}
.icon-checkmark:before {
	content: "\e604";
}
