
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">Você quer ir para?</h3></div>
		<div class="panel-body">

			<div class="col-md-12 columns">
				<ul class="col-md-6 menu-grid">
				  <li class="workplace-safety">
				  	<%= link_to seguranca_trabalho_index_path do %>
			            <div class="content">
			                <p>SESMT</p>
			            </div>
			        <% end %>
				  </li>
			      <li class="service">
			      	<%= link_to servico_index_path do %>
			            <div class="content">
			                <p>Serviços</p>
			            </div>
			        <% end %>
			      </li>
				</ul>
			</div>
		</div>
	</div>
