.item-dashboard{

}
.item-dashboard__number{
  font-size:rem(40);
  font-weight: bold;
  text-align: center;
  line-height: 1.5rem;
  small{
    font-weight:normal;
    font-size:rem(14);
  }
}

.table-dashboard{
   height: 550px;
   margin-bottom: $global-gutter;
}
