.menu-grid{
  padding: 0;
	li{
		position: relative;
		cursor: pointer;
    height: 200px;
    width: 200px;
    list-style: none;
    float: left;
    padding-right: $global-gutter;
		p{
			position: absolute;
			top: $global-gutter;
			margin-left: $global-gutter;
			font-size: 1.8rem;
      text-transform: uppercase;
			color: #fff;
      text-shadow: 1px 1px 10px #000000;
		}
	}
	.content{
		border-radius: $global-radius;
		height: 200px;
		position: relative;
		&::after{
            content: "";
            opacity: 0.3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
            border-radius: $global-radius;
            @include transition(opacity 0.3s ease-in-out);
        }
        &:hover::after{
            opacity:0.1;
        }
	}
}
