.statistics{
    margin-bottom: $global-gutter;
}

.statistics__container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.statistics__circle{
    background:$color-gray;
    border-radius:100px;
    height:150px;
    width: 150px;
    position: relative;
    margin-top: 22%;
}
.statistics__number, .statistics__real{
    font-size: rem(30);
    color:$color-blue-lighten;
    text-align: center;
    margin-bottom: 0;
    line-height: 1;
    margin-top: $global-gutter*2.5;
}
.statistics__real{
    font-size: rem(12);
    left: -8%;
    margin-top: 0;
    padding-top: 12%;
    position: absolute;
    top: 1%;
    height: 50px;
    width: 50px;
    background: $color-gray;
    border-radius: 50px;
}
.statistics__title{
    font-size:rem(16);
    color:$color-font-spotlight;
    text-align: center;
    margin-bottom: 0;
}
