<div class="col-md-12 ">
		<div class="panel panel-default">
			<div class="panel-heading">    <h3 class="panel-title">Informe o prazo para busca</h3></div>
			<div class="panel-body">
				<%= form_tag(path, action: 'upload', class: '') do %>
				<div class="col-md-4">
					<div class="form-group">
						<label>Período</label>
						<%= text_field_tag :daterange, @daterange, required: true, class:"form-control" %>
					</div>
				</div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="matricula">Matrícula</label>
							<select id="matricula" name="matricula" class="form-control" style="width: 100%" >
								<%= options_for_select(@matriculas, @matricula) %>
							</select>
						</div>
          </div>
					<div class="col-md-4">
            <div class="form-group">
              <label for="qtd_ranking">Quantidade no ranking</label>
							<select id="qtd_ranking" name="qtd_ranking" class="form-control" style="width: 100%" >
								<%= options_for_select((1..20), @qtd_ranking) %>
							</select>
						</div>
          </div>
						<%= hidden_field_tag :commit, value: 'true' %>
          <div class="col-md-12">

						<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
							<i class="glyphicon glyphicon-search"></i> Buscar
						<% end %>
          </div>
				<% end %>
				</div>
		</div>
</div>
<script type="text/javascript">

$(document).ready(function(){

	$('input[name="daterange"]').daterangepicker({
		locale: {
      format: 'DD/MM/YYYY',
			separator: ' - ',
      applyLabel: 'Aplicar',
      cancelLabel: 'Limpar',
      fromLabel: 'De',
      toLabel: 'Para',
      customRangeLabel: 'Personalizado'
    },
		ranges: {
           'Hoje': [moment(), moment()],
           'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Últimos 7 Dias': [moment().subtract(6, 'days'), moment()],
           'Últimos 30 Dias': [moment().subtract(29, 'days'), moment()],
           'Este Mês': [moment().startOf('month'), moment().endOf('month')],
           'Último Mês': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
	});

	$('#matricula').select2();
	$('#cid').select2();

});

</script>
