<div class="col-md-12 ">
<%= form_tag(path, action: 'upload', multipart: true, class: 'form-inline') do %>
	<%= field_set_tag 'Informações de todos os atestados' do %>
		<div class="form-group">
			<label>Arquivo no formato Excel (xls/xlsx) </label>
			<%= file_field_tag :file, value: @file, accept: 'application/vnd.ms-excel, application/msexcel, application/x-msexcel, application/x-ms-excel, application/vnd.ms-excel, application/x-excel, application/x-dos_ms_excel, application/xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', required: true %>
			<% if @file %>
				<p><%= @file.original_filename %></p>
			<% end %>
		</div>
		<div class="form-group">
			<label>De</label>
			<%= text_field_tag :from, @from, required: true %>
		</div>
		<div class="form-group">
			<label>Até</label>
			<%= text_field_tag :to, @to, required: true %>
		</div>
		<%= submit_tag 'Enviar', class: "btn btn-expand radius" %>
	<% end %>
<% end %>
</div>
<script type="text/javascript">

$(document).ready(function(){

	var from_$input = $('#from').pickadate({format: 'dd/mm/yyyy'}),
    from_picker = from_$input.pickadate('picker')

	var to_$input = $('#to').pickadate({format: 'dd/mm/yyyy'}),
	    to_picker = to_$input.pickadate('picker')


	// Check if there’s a “from” or “to” date to start with.
	if ( from_picker.get('value') ) {
	  to_picker.set('min', from_picker.get('select'))
	}
	if ( to_picker.get('value') ) {
	  from_picker.set('max', to_picker.get('select'))
	}

	// When something is selected, update the “from” and “to” limits.
	from_picker.on('set', function(event) {
	  if ( event.select ) {
	    to_picker.set('min', from_picker.get('select'))
	  }
	  else if ( 'clear' in event ) {
	    to_picker.set('min', false)
	  }
	});
	to_picker.on('set', function(event) {
	  if ( event.select ) {
	    from_picker.set('max', to_picker.get('select'))
	  }
	  else if ( 'clear' in event ) {
	    from_picker.set('max', false)
	  }
	});

});

</script>
