<div class="col-md-12 ">
		<div class="panel panel-default">
			<div class="panel-heading">    <h3 class="panel-title">Informe o ano para busca</h3></div>
			<div class="panel-body">
				<%= form_tag(path, action: 'upload', class: '') do %>
					<div class="col-md-3">
						<div class="form-group">
							<label>Ano</label>
              <select class="form-control" name="ano">
                <%= options_for_select((2013..Date.today.year), @ano) %>
              </select>
						</div>
					</div>
						<%= hidden_field_tag :commit, value: 'true' %>
					<div class="col-md-12">
						<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
							<i class="glyphicon glyphicon-search"></i> Buscar
						<% end %>
					</div>
				<% end %>
				</div>
		</div>
</div>
