<div class="col-md-12 ">
		<div class="panel panel-default">
			<div class="panel-heading">    <h3 class="panel-title">Informe o período para busca</h3></div>
			<div class="panel-body">
				<%= form_tag(path, action: 'upload', class: '') do %>
					<div class="col-md-3">
						<div class="form-group">
							<label>Período</label>
							<%= text_field_tag :daterange, @daterange, required: true, class:"form-control" %>
						</div>
					</div>
						<%= hidden_field_tag :commit, value: 'true' %>
					<div class="col-md-12">
						<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
							<i class="glyphicon glyphicon-search"></i> Buscar
						<% end %>
					</div>
				<% end %>
				</div>
		</div>
</div>
<script type="text/javascript">

$(document).ready(function(){

	$('input[name="daterange"]').daterangepicker({
		locale: {
      format: 'DD/MM/YYYY',
			separator: ' - ',
      applyLabel: 'Aplicar',
      cancelLabel: 'Limpar',
      fromLabel: 'De',
      toLabel: 'Para',
      customRangeLabel: 'Personalizado'
    },
		ranges: {
           'Hoje': [moment(), moment()],
           'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Últimos 7 Dias': [moment().subtract(6, 'days'), moment()],
           'Últimos 30 Dias': [moment().subtract(29, 'days'), moment()],
           'Este Mês': [moment().startOf('month'), moment().endOf('month')],
           'Último Mês': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
	});


});

</script>
