<%= render partial: 'form_old', locals: { path: seguranca_trabalho_faltas_legais_old_path } %>
<div class="col-md-12 ">
		<% if @benchmark %>
			<small><%= (@benchmark[:finish] - @benchmark[:start])*1000 %> miliseg</small>
		<% end %>
	<div id="container-dashboard" class="col-md-12 ">

	</div>
	<div id="container-period" class="col-md-12 ">

	</div>


	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#panel-1" aria-controls="panel-1" role="tab" data-toggle="tab">Detalhes</a></li>
	    <li role="presentation"><a href="#panel-2" aria-controls="panel-2" role="tab" data-toggle="tab">Grupos x Atestado</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
			<section role="tabpanel" class="tab-pane active" id="panel-1">
				<div id="container-enrollment" class="table-dashboard col-md-6 ">

				</div>
				<div id="container-legal-faults" class="table-dashboard col-md-6 ">

				</div>
				<div id="container-crm" class="table-dashboard col-md-12 ">

				</div>
				<div id="container-cid" class="col-md-12 ">

				</div>
			</section>
			<section role="tabpanel" class="tab-pane content-groups" id="panel-2">

			</section>
	    <div role="tabpanel" class="tab-pane active" id="home">...</div>
	    <div role="tabpanel" class="tab-pane" id="profile">...</div>
	    <div role="tabpanel" class="tab-pane" id="messages">...</div>
	    <div role="tabpanel" class="tab-pane" id="settings">...</div>
	  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	var result = {
		'legalFaults': <%= raw @legal_faults.to_json %>
	}

	console.log(result);
	if (result['legalFaults']){
		LegalFaultsOld.feed(result['legalFaults']);
		LegalFaultsOld.init();
  }
});
</script>
