<div class="col-md-12 ">
  <div class="panel panel-default">
    <div class="panel-heading">    <h3 class="panel-title">Envie a planilha para importação dos dados</h3></div>
    <div class="panel-body">
  <%= form_tag(seguranca_trabalho_importar_path, action: 'upload', multipart: true, class: 'form-inline') do %>
  <div class="form-group">
    <label>Arquivo no formato Excel (xls/xlsx) </label>
    <%= file_field_tag :file, value: @file, accept: 'application/vnd.ms-excel, application/msexcel, application/x-msexcel, application/x-ms-excel, application/vnd.ms-excel, application/x-excel, application/x-dos_ms_excel, application/xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', required: true %>
    <% if @file %>
    <p><%= @file.original_filename %></p>
    <% end %>
  </div>
  <%= submit_tag 'Enviar', class: "btn btn-primary btn-expand radius" %>
  <% end %>
</div>
</div>
</div>
<% if @legal_faults %>
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">Resumo</div>
    <div class="panel-body">
      <p>Total de registros: <%= @legal_faults.data.count %> </br>
        Duplicados: <%= @legal_faults.duplicate_records %> </br>
        Registros com erros: <%= @total_errors %> </br>
        <hr/>
        Registros cadastrados anteriormente: <%= @legal_faults_registered.count %> </br>
        <hr/>
        Salvos no banco de dados: <%= @total_inserted %> </br>
        <hr/>
        Planilha foi lida em: <%= (@legal_faults.benchmark[:finish] - @legal_faults.benchmark[:start])*1000 %> miliseg </br>
        Dados foram analisados ou salvos em: <%= (@benchmark[:finish] - @benchmark[:start])*1000 %> miliseg
      </p>
    </div>
  </div>
</div>

<div class="col-md-6 ">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Inseridos no banco de dados (<%= @total_inserted %>)</h3></div>
    <div class="panel-body">


  <% if @total_inserted > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Registro</th>
      </tr>
    </thead>
    <tbody>
      <% @legal_faults.data.each{ |a| %>
        <tr>
          <td>
            <%= "#{a[:filial]} #{a[:matricula]} #{a[:login]} #{a[:nome]} #{a[:tipo]} #{a[:cid]} #{a[:descricao]} #{a[:data_entrega]} #{a[:data_atestado]} #{a[:qtd_dias]} #{a[:qtd_horas]}"%>
          </td>
        </tr>
        <%  } %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
</div>
  <div class="col-md-6 ">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Já cadastrados anteriormente (<%= @legal_faults_registered.blank? ? '0' : @legal_faults_registered.count %>)</h3></div>
      <div class="panel-body">

    <% if @legal_faults_registered %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Registro</th>
        </tr>
      </thead>
      <tbody>
        <% @legal_faults_registered.each{ |a| %>
          <tr>
            <td>
              <%= "#{a[:filial]} #{a[:matricula]} #{a[:login]} #{a[:nome]} #{a[:tipo]} #{a[:cid]} #{a[:descricao]} #{a[:data_entrega]} #{a[:data_atestado]} #{a[:qtd_dias]} #{a[:qtd_horas]}"%>
            </td>
          </tr>
          <%  } %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
<% end %>
