<%= render partial: 'form_cids', locals: { path: seguranca_trabalho_relatorio_cids_path } %>
<% if @atestados %>
<div class="col-md-12 ">
	<div class="row">
		<div class="col-md-12 ">
			<div class="panel panel-default">
				<div class="panel-heading">Frequência diária</div>
				<div class="panel-body">
					<div id="container-period-cid">

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="panel panel-default">
				<div class="panel-heading">Ranking</div>
				<div class="panel-body">
					<div id="container-cid">

					</div>
					<div id="container-legend-cid">

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Registros (<%= @atestados.size %>)</div>
				<div class="panel-body">
					<table id="matricula-cid" class="table table-striped">
						<thead>
							<tr>
								<th>Matrícula</th>
								<th>CID</th>
								<th>Data do atestado</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Matrícula</th>
								<th>CID</th>
								<th>Data do atestado</th>
							</tr>
						</tfoot>
						<tbody>
							<% @atestados.each{ |a| %>
								<tr>
									<td>
										<%= a[:matricula] %>
									</td>
									<td>
										<%= a[:cid] %>
									</td>
									<td>
										<%= a[:data_atestado].strftime("%d/%m/%Y") %>
									</td>
								</tr>
								<%  } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	var result = {
		cidDataAtestado: <%= raw @atestados ? @atestados.contagem_cid_por_data_atestado(@atestados).to_json : '' %>,
		cid: <%= raw @atestados ? @atestados.contagem_cid(@atestados).to_json : '' %>,

	};

	console.log(result);

	if (result.cidDataAtestado) {
		AtestadoMedicos.constructDataTableByCID();
		AtestadoMedicos.constructGraphByPeriodByCid(result.cidDataAtestado, 1, result.cid, <%= raw @qtd_ranking %>);
		AtestadoMedicos.constructGraphByCid(result.cid, 1, result.cid, <%= raw @qtd_ranking %>);

	}
});
</script>
<% end %>
