<%= render partial: 'form_abs', locals: { path: seguranca_trabalho_relatorio_abs_path } %>
<% if @atestados_mensal_atestados %>
<div class="col-md-12 ">
	<div class="row">
		<div class="col-md-12 ">
			<div class="panel panel-default">
				<div class="panel-heading">ABS Mensal</div>
				<div class="panel-body">
					<div id="container-abs-monthly" class="col-md-12 ">

					</div>
					<div id="container-abs-monthly-area" class="col-md-12 ">

					</div>
					<div id="container-abs-monthly-total" class="col-md-6 ">

					</div>
					<div id="container-abs-monthly-total-percentage" class="col-md-6 ">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	var result = {
		absMensalAtestados: <%= raw @atestados_mensal_atestados ? @atestado.construir_abs_mensal(@atestados_mensal_atestados).to_json : '' %>,
		absMensalAtestadosArea: <%= raw @atestados_mensal_area ? @atestado.construir_abs_mensal_area(@atestados_mensal_area).to_json : '' %>,
		absMensalAtestadosTotalDias: <%= raw @atestados_mensal_total_dias ? @atestado.construir_abs_mensal_dias(@atestados_mensal_total_dias).to_json : '' %>,
	};

	 console.log(result);

	if (result.absMensalAtestados) {
		AtestadoMedicos.constructGraphAbsMonthly(result.absMensalAtestados);
		AtestadoMedicos.constructGraphAbsMonthlyArea(result.absMensalAtestadosArea);
		AtestadoMedicos.constructGraphAbsMonthlyTotalDays(result.absMensalAtestadosTotalDias);
		AtestadoMedicos.constructGraphAbsMonthlyTotalPercentage(result.absMensalAtestadosTotalDias);
	}
});
</script>
<% end %>
