<%= render partial: 'form', locals: { path: seguranca_trabalho_relatorio_atestados_path } %>
<% if @atestados %>
<div class="col-md-12 ">
<div class="panel panel-default">
	<div class="panel-heading">Resumo <small>(tempo da busca: <%= ((@benchmark[:finish] - @benchmark[:start])*1000).round(3) %> miliseg)</small></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 info-resumo">
				<p class="info-resumo__titulo">Atestados</p>
				<p class="info-resumo__numero"><%= @atestados.contagem_por_tipo(@atestados)[:atestado] %></p>
			</div>
			<div class="col-md-2">
				<p class="info-resumo__titulo">Declarações de horas</p>
				<p class="info-resumo__numero"><%= @atestados.contagem_por_tipo(@atestados)[:declaracao_de_horas] %></p>
			</div>
			<div class="col-md-2">
				<p class="info-resumo__titulo">Faltas legais</p>
				<p class="info-resumo__numero"><%= @atestados.contagem_por_tipo(@atestados)[:falta_legal] %></p>
			</div>
			<div class="col-md-2">
				<p class="info-resumo__titulo">Acompanhamentos</p>
				<p class="info-resumo__numero"><%= @atestados.contagem_por_tipo(@atestados)[:acompanhamento] %></p>
			</div>

			<div class="col-md-2">
				<p class="info-resumo__titulo">Certidões</p>
				<p class="info-resumo__numero"><%= @atestados.contagem_por_tipo(@atestados)[:certidao] %></p>
			</div>
			<div class="col-md-2">
				<p class="info-resumo__titulo">Total de pessoas</p>
				<p class="info-resumo__numero"><%= @atestados.contagem_por_matricula(@atestados)[:matriculas].count %></p>
			</div>
			<div class="col-md-2">
				<p class="info-resumo__titulo">Total de dias de atestados</p>
				<p class="info-resumo__numero" data-toggle="tooltip" data-placement="top" title="Aprox. <%= @atestados.contagem_por_matricula(@atestados)[:total_trabalhadores] %>  repres. - <%= @atestados.contagem_por_matricula(@atestados)[:total_meses] %> meses - <%= @atestados.contagem_por_matricula(@atestados)[:total_anos] %> anos">
					<%= @atestados.contagem_por_matricula(@atestados)[:total_dias] %>
				</p>
			</div>
		</div>

		<hr/>

		<div id="container-period" class="col-md-12 ">

		</div>
	</div>
</div>


	<ul class="nav nav-tabs " role="tablist">
		<li role="presentation" class="active"><a href="#panel-1" aria-controls="panel-1" role="tab" data-toggle="tab">Detalhes</a></li>
		<li role="presentation" id="tab2" ><a href="#panel-2" aria-controls="panel-2" role="tab" data-toggle="tab">Centro de Custo x Atestado - Atestados</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<section role="tabpanel" class="tab-pane active" id="panel-1">
				<div class="row"> <!-- row -->

					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">Matrícula (<%= @atestados.contagem_por_matricula(@atestados)[:matriculas].count %>)</div>
							<div class="panel-body">
								<table id="matricula" class="table table-striped">
									<thead>
										<tr>
											<th>Matrícula</th>
											<th>Atestados</th>
											<th>Dias</th>
											<th>Declarações</th>
											<th>Horas</th>
											<th>Faltas</th>
											<th>Acomp.</th>
											<th>Data admissão</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Matrícula</th>
											<th>Atestados</th>
											<th>Dias</th>
											<th>Declarações</th>
											<th>Horas</th>
											<th>Faltas</th>
											<th>Acomp.</th>
											<th>Data admissão</th>
										</tr>
									</tfoot>
									<tbody>
										<% @atestados.contagem_por_matricula(@atestados)[:matriculas].each{ |key, value| %>
											<tr>
												<td>
													<%= key %>
												</td>
												<td>
													<%= value[:atestado] %>
												</td>
												<td>
													<%= value[:dias] %>
												</td>
												<td>
													<%= value[:declaracao_de_horas] %>
												</td>
												<td>
													<%= value[:horas] %>
												</td>
												<td>
													<%= value[:falta_legal] %>
												</td>
												<td>
													<%= value[:acompanhamento] %>
												</td>
												<td>
													<%= value[:data_admissao].strftime("%d/%m/%Y") %>
												</td>
											</tr>
											<%  } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">Faltas legais (<%= @atestados.contagem_por_tipo_atestado(@atestados,'falta legal').count %>)</div>
							<div class="panel-body">
								<table id="falta_legal" class="table table-striped">
									<thead>
										<tr>
											<th>Matrícula</th>
											<th>Descrição</th>
											<th>Dias</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Matrícula</th>
											<th>Descrição</th>
											<th>Dias</th>
										</tr>
									</tfoot>
									<tbody>
										<% @atestados.contagem_por_tipo_atestado(@atestados,'falta legal').each{ |value| %>
											<tr>
												<td>
													<%= value[:matricula] %>
												</td>
												<td>
													<%= value[:descricao] %>
												</td>
												<td>
													<%= value[:dias] %>
												</td>
											</tr>
											<%  } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">CRM (<%= @atestados.contagem_por_crm(@atestados).count %>)</div>
							<div class="panel-body">
								<table id="crm" class="table table-striped">
									<thead>
										<tr>
											<th>CRM</th>
											<th>Atestados</th>
											<th>Dias</th>
											<th>Declarações</th>
											<th>Horas</th>
											<th>Faltas</th>
											<th>Acomp.</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>CRM</th>
											<th>Atestados</th>
											<th>Dias</th>
											<th>Declarações</th>
											<th>Horas</th>
											<th>Faltas</th>
											<th>Acomp.</th>
										</tr>
									</tfoot>
									<tbody>
										<% @atestados.contagem_por_crm(@atestados).each{ |key, value| %>
											<tr>
												<td>
													<%= key %>
												</td>
												<td>
													<%= value[:atestado] %>
												</td>
												<td>
													<%= value[:dias] %>
												</td>
												<td>
													<%= value[:declaracao_de_horas] %>
												</td>
												<td>
													<%= value[:horas] %>
												</td>
												<td>
													<%= value[:falta_legal] %>
												</td>
												<td>
													<%= value[:acompanhamento] %>
												</td>
											</tr>
											<%  } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div id="container-cid" class="col-md-12">

					</div>
				</div> <!-- row -->

		</section>
		<section role="tabpanel" class="tab-pane content-groups" id="panel-2">

		</section>
	</div> <!-- tab-content -->
<% end %>
				<script type="text/javascript">
				$(document).ready(function() {
					var result = {
						atestadosDataAtestado: <%= raw @atestados ? @atestados.contagem_por_data_atestado(@atestados).to_json : '' %>,
						atestadosCidPorCentro: <%= raw @atestados ? @atestados.contagem_cid_por_centro_custo(@atestados).to_json: '' %>
					},
	        graphByPeriodConstructed = false;

					if (result.atestadosDataAtestado) {
						AtestadoMedicos.feed(result);
						AtestadoMedicos.init();

						$('#tab2').on('click',function(){
		          if(graphByPeriodConstructed == false) {
		            AtestadoMedicos.constructGraphByCostCenter(result.atestadosCidPorCentro);
		            graphByPeriodConstructed = true;
		          }
		        });
					}
				});
				</script>
